Specyfikacja_funkcjonalna.aux

Specyfikacja_funkcjonalna.txt

Specyfikacja_funkcjonalna.synctex*

Specyfikacja_funkcjonalna.toc

Specyfikacja_funkcjonalna.log

Specyfikacja_funkcjonalna.dvi



Specyfikacja_implementacyjna.aux

Specyfikacja_implementacyjna.txt

Specyfikacja_implementacyjna.synctex*

Specyfikacja_implementacyjna.toc

Specyfikacja_implementacyjna.log

Specyfikacja_implementacyjna.dvi



Sprawozdanie.aux

Sprawozdanie.txt

Sprawozdanie.synctex*

Sprawozdanie.toc

Sprawozdanie.log

Sprawozdanie.dvi

Sprawozdanie.pdf


out/
.idea/